/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */

body {background:white;}

p {font-family:sans-serif;}

h2{
  color:black;
  text-align:center;
  font-size:25px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0 10px 0;
}
.col-md-6  {
  padding:0;
}
.col-md-12 {
  padding:0;
}

/* Top Contact Bar */
.top-contact {
  width:100%;
  height:60px;
  background:silver;
  text-align:right;
  box-shadow:0px -1px 8px 2px dimGray;
}

.facebook {
  height:40px;
  width:40px;
  background: url(images/facebook.png) no-repeat;
  display:inline-block;
  margin:10px 0 10px 20px;
}
.facebook:hover {
  background-position:0 -40px;
}
.pinterest {
  height:40px;
  width:40px;
  background: url(images/pinterest.png) no-repeat;
  display:inline-block;
  margin:10px;
}
.pinterest:hover {
  background-position:0 -40px;
}
.top-contact-text {
  display:inline-block;
  color: white;
  vertical-align:25px;
  margin-right:15px;
}
.top-contact-text:hover {
  color:cadetBlue;
}

/* Logo */
.header-section{
  background-color:white;
  width:100%;
  height:100%;
  box-shadow:0px -1px 8px 2px dimGray;
}
.logo-placeholder{
  height:100%;
  width:100%;
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding-left:20px;
}

@media (max-width: 992px) {
  .logo-placeholder{
    display: block;
    vertical-align: middle;
    width: 100%;
  }
}

.logo {
  width:100%;
  margin:auto;
  display:block;
}

/* Nav Bar */
.navbar{
  width:75%;
  border:none;
  background-color:cadetblue;
  font-family: 'Open Sans', sans-serif;
  display:inline block;
  margin:auto;
}

.links .a{
  line-height:40px;
  background-color:white;
  font-family: 'Open Sans', sans-serif;
  padding: 0 5px;
  color:black;
  text-shadow:none;
}

a:visited{
  color:white;
}

a:hover{
  color:cadetBlue;
}

.nav-placeholder{
  background-color:white;
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

@media (max-width: 992px) {
  .nav-placeholder{
    display: block;
    vertical-align: middle;
    width: 100%;
  }
}

.menu-navbar .menu-dropdown .dropdown-menu{
  background-color:red;
}

/* Banner */

.banner{
  width:100%;
  height:270px;
  background: url(images/Thailand-Ko-Phangan.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner-tag{
  width:309px;
  z-index: 1;
  position: absolute;
  left:50%;
  margin-left: -150px;
  top:50%;
  margin-top: -115px;
}

/* 3 Categories */

.category {
  height:150px;
  width:90%;
  display: block;
  margin:20px auto 0;
  background-color:turquoise;

}
.category-school{
  height:150px;
  width:90%;
  display: block;
  margin:20px auto 0;
  background-image: url(images/sandalStripe.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color:white;
}
/* Backgrounds for 1 & 3 Boxes */
.brushstroke-background-01 {
  background-image: url(images/stroke01.png);
  background-size:200px 50px;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
}
.category-title-01{
  color:white;
  text-align:center;
  font-size:25px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 0;
  text-transform:uppercase;
  letter-spacing:2px;
}

.category-title-01:hover{
  background-image: url(images/stroke01_hover.png);
  background-size:200px 50px;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Categorey background
.text-background {
  height:50px;
  width:90%;
  margin:0 auto;
  background-color:cadetblue;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius:  6px;
  text-shadow:5px 5px 5px 5px black;
}*/

/* Backgrounds for 2 & 4 Boxes */
.brushstroke-background-02 {
  background-image: url(images/stroke02.png);
  background-size:200px 50px;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
}
.category-title-02{
  color:white;
  text-align:center;
  font-size:25px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 0;
  text-transform:uppercase;
  letter-spacing:2px;
}

.category-title-02:hover{
  background-image: url(images/stroke02_hover.png);
  background-size:200px 50px;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
}
/*Learn More Separator Bar*/

.learn-more {
  width:100%;
  height:30px;
  background:linear-gradient(to bottom, rgba(95,158,160,0.5), white);
  margin-top:20px;
}


/* Company Info */

.info-title {
  text-shadow:1px 1px 5px white;
  color:cadetBlue;
  text-align:center;
  font-size:30px;
  font-family: 'Open Sans', sans-serif;
  font-weight:bolder;
  margin-bottom:10px;

}

.info-paragraph {
  height:300px;
  width:90%;
  display: block;
  margin:0 auto;
}

.info-links {
  height:150px;
  width:90%;
  display: block;
  margin:0 auto ;
}

.paragraph-text {
  color:black;
  font-size:16px;
  font-family: sans-serif;
  margin:0 0 25px 25px;
}

.buyer{
  width:200px;
  overflow:hidden;
  display:block;
  text-align:left;
  color:black;
  font-size:16px;
  font-family: sans-serif;
  margin:5px auto;
}

.outer-temp{
  width:80%;
  margin:0 auto;
}

.area{
  width:60%;
  color:black;
  font-size:16px;
  font-family: sans-serif;
  text-align:right;
  float:left;
}
.temp{
  float:right;
  width:30%;
  color:black;
  font-size:16px;
  font-family: sans-serif;
  text-align:left;
}

/* Twitter */

.twitter {
  margin-top:20px;
  width:100%;
  height:90px;
  background-color:cadetBlue;
}

.twitter-title{
  color:black;
  text-align:left;
  font-size:25px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0 10px 10px;
}
